<main id="content" role="main">



  <div class="container">
    <div class="w-lg-85 mx-lg-auto mb-5">
      <!-- Card -->
      <div >
        <div class="card-body">
          <div class="row col-md-divider align-items-md-center">
            <div class="col">
              <!-- Media -->
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-sm avatar-4x3" src="/assets/icons/img.png" alt="Image Description">
                </div>

                <div class="flex-grow-1 ms-3">
                  <h6 class="card-title">
                    <h2 class="text-primary mt-3 " >Angular</h2>
                  </h6>
                </div>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-md-12">
              <div class="row">
                @for(items of session1; track items.title){
                <div class="col-4 col-md-2 ">
                  <div class="card mb-3 p-2  shadow-lg d-flex justify-content-center align-items-center">
                    <img loading="lazy" style="width: 60px; height: 60px; object-fit: cover" [src]=items.image alt="">
                    <h6>{{items.title}}</h6>
                  </div>
                </div>
                }
              </div>

            </div>

            <!-- End Col -->


            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Card -->
    </div>

  </div>


  <div class="container">
    <div class="w-lg-85 mx-lg-auto mb-5">
      <!-- Card -->
      <div >
        <div class="card-body">
          <div class="row col-md-divider align-items-md-center">
            <div class="col">
              <!-- Media -->
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-sm avatar-4x3" src="/assets/icons/img.png" alt="Image Description">
                </div>

                <div class="flex-grow-1 ms-3">
                  <h6 class="card-title">
                    <h2 class="text-primary mt-3 " >Angular</h2>
                  </h6>
                </div>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-md-12">
              <div class="row">
                @for(items of session2; track items.title){
                  <div class="col-4 col-md-2 ">
                    <div class="card mb-3 p-2  shadow-lg d-flex justify-content-center align-items-center">
                      <img loading="lazy" style="width: 60px; height: 60px; object-fit: cover" [src]=items.image alt="">
                      <h6>{{items.title}}</h6>
                    </div>
                  </div>
                }
              </div>

            </div>

            <!-- End Col -->


            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Card -->
    </div>

  </div>


  <div class="container">
    <div class="w-lg-85 mx-lg-auto mb-5">
      <!-- Card -->
      <div >
        <div class="card-body">
          <div class="row col-md-divider align-items-md-center">
            <div class="col">
              <!-- Media -->
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-sm avatar-4x3" src="/assets/icons/img.png" alt="Image Description">
                </div>

                <div class="flex-grow-1 ms-3">
                  <h6 class="card-title">
                    <h2 class="text-primary mt-3 " >Angular</h2>
                  </h6>
                </div>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-md-12">
              <div class="row">
                @for(items of session3; track items.title){
                  <div class="col-4 col-md-2 ">
                    <div class="card mb-3 p-2  shadow-lg d-flex justify-content-center align-items-center">
                      <img  loading="lazy" style="width: 60px; height: 60px; object-fit: cover" [src]=items.image alt="">
                      <h6>{{items.title}}</h6>
                    </div>
                  </div>
                }
              </div>

            </div>

            <!-- End Col -->


            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Card -->
    </div>

  </div>


  <div class="container">
    <div class="w-lg-85 mx-lg-auto mb-5">
      <!-- Card -->
      <div >
        <div class="card-body">
          <div class="row col-md-divider align-items-md-center">
            <div class="col">
              <!-- Media -->
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-sm avatar-4x3" src="/assets/icons/img.png" alt="Image Description">
                </div>

                <div class="flex-grow-1 ms-3">
                  <h6 class="card-title">
                    <h2 class="text-primary mt-3 " >Angular</h2>
                  </h6>
                </div>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-md-12">
              <div class="row">
                @for(items of session4; track items.title){
                  <div class="col-4 col-md-2 ">
                    <div class="card mb-3 p-2  shadow-lg d-flex justify-content-center align-items-center">
                      <img loading="lazy" style="width: 60px; height: 60px; object-fit: cover" [src]=items.image alt="">
                      <h6>{{items.title}}</h6>
                    </div>
                  </div>
                }
              </div>

            </div>

            <!-- End Col -->


            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Card -->
    </div>

  </div>

  <div class="container">
    <div class="w-lg-85 mx-lg-auto mb-5">
      <!-- Card -->
      <div >
        <div class="card-body">
          <div class="row col-md-divider align-items-md-center">
            <div class="col">
              <!-- Media -->
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-sm avatar-4x3" src="/assets/icons/img.png" alt="Image Description">
                </div>

                <div class="flex-grow-1 ms-3">
                  <h6 class="card-title">
                    <h2 class="text-primary mt-3 " >Angular</h2>
                  </h6>
                </div>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-md-12">
              <div class="row">
                @for(items of session5; track items.title){
                  <div class="col-4 col-md-2 ">
                    <div class="card mb-3 p-2  shadow-lg d-flex justify-content-center align-items-center">
                      <img loading="lazy" style="width: 60px; height: 60px; object-fit: cover" [src]=items.image alt="">
                      <h6>{{items.title}}</h6>
                    </div>
                  </div>
                }
              </div>

            </div>

            <!-- End Col -->


            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Card -->
    </div>

  </div>


  <div class="container">
    <div class="w-lg-85 mx-lg-auto mb-5">
      <!-- Card -->
      <div >
        <div class="card-body">
          <div class="row col-md-divider align-items-md-center">
            <div class="col">
              <!-- Media -->
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-sm avatar-4x3" src="/assets/icons/img.png" alt="Image Description">
                </div>

                <div class="flex-grow-1 ms-3">
                  <h6 class="card-title">
                    <h2 class="text-primary mt-3 " >Angular</h2>
                  </h6>
                </div>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-md-12">
              <div class="row">
                @for(items of session6; track items.title){
                  <div class="col-4 col-md-2 ">
                    <div class="card mb-3 p-2  shadow-lg d-flex justify-content-center align-items-center">
                      <img loading="lazy" style="width: 60px; height: 60px; object-fit: cover" [src]=items.image alt="">
                      <h6>{{items.title}}</h6>
                    </div>
                  </div>
                }
              </div>

            </div>

            <!-- End Col -->


            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Card -->
    </div>

  </div>


  <div class="container">
    <div class="w-lg-85 mx-lg-auto mb-5">
      <!-- Card -->
      <div >
        <div class="card-body">
          <div class="row col-md-divider align-items-md-center">
            <div class="col">
              <!-- Media -->
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-sm avatar-4x3" src="/assets/icons/img.png" alt="Image Description">
                </div>

                <div class="flex-grow-1 ms-3">
                  <h6 class="card-title">
                    <h2 class="text-primary mt-3 " >Angular</h2>
                  </h6>
                </div>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-md-12">
              <div class="row">
                @for(items of session7; track items.title){
                  <div class="col-4 col-md-2 ">
                    <div class="card mb-3 p-2  shadow-lg d-flex justify-content-center align-items-center">
                      <img loading="lazy" style="width: 60px; height: 60px; object-fit: cover" [src]=items.image alt="">
                      <h6>{{items.title}}</h6>
                    </div>
                  </div>
                }
              </div>

            </div>

            <!-- End Col -->


            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Card -->
    </div>

  </div>

  <div class="container">
    <div class="w-lg-85 mx-lg-auto mb-5">
      <!-- Card -->
      <div >
        <div class="card-body">
          <div class="row col-md-divider align-items-md-center">
            <div class="col">
              <!-- Media -->
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-sm avatar-4x3" src="/assets/icons/img.png" alt="Image Description">
                </div>

                <div class="flex-grow-1 ms-3">
                  <h6 class="card-title">
                    <h2 class="text-primary mt-3 " >Angular</h2>
                  </h6>
                </div>
              </div>
              <!-- End Media -->
            </div>
            <div class="col-md-12">
              <div class="row">
                @for(items of session8; track items.title){
                  <div class="col-4 col-md-2 ">
                    <div class="card mb-3 p-2  shadow-lg d-flex justify-content-center align-items-center">
                      <img loading="lazy" style="width: 60px; height: 60px; object-fit: cover" [src]=items.image alt="">
                      <h6>{{items.title}}</h6>
                    </div>
                  </div>
                }
              </div>

            </div>

            <!-- End Col -->


            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Card -->
    </div>

  </div>
</main>







<!-- Content -->










