.textbox{
  border-radius: 10px;
font-size: 25px;
  padding: 10px;
  font-family: Consolas, serif;
  width: 100%;
}
.button{
  width: 100%;
  padding:10px;
  font-size: 20px;
}

.header{
  font-size: 30px;
  margin:10px;
  text-align: center;
}
.subHeader{
  text-align: center;

  margin-bottom: -10px;
}
