
<section class="container" >
  <div class="row  " style="margin-top: 3rem">

    <div  class="col-12 col-md-4">

      <a style="border-radius: 8px;background-color: #1b1e22"  class="card card-hover-primary  border-0 h-100 text-decoration-none">
        <div class="px-4 my-4">
          <div class="col-4 text-white">Top Gainers</div>
          <div class="row">
            <div class="col-3 d-flex justify-content-end mx-0 mt-1"><img  style="width: 40px; height: 40px; margin: 0" alt="Isabella Bocouse" class="d-block mb-2" src="/finance/token/BTC.webp">
            </div>
            <div class="col-7 d-flex justify-content-start align-items-center mx-0 " style="margin: 0">
              <h6 class="text-white mt-3" >bitcoin (BTC)</h6>
              <button type="button" class="btn btn-warning btn-icon rounded-pill mx-2" aria-label="Rate" style="width: 21px; height: 20px">
                <i class="ai-star-filled"></i>
              </button>

            </div>

            <div class="col-2 mt-3"><h6 class="text-white">70%</h6>
            </div>



          </div>
          <div class="row">
            <div class="col-3 d-flex justify-content-end mx-0 mt-1"><img  style="width: 40px; height: 40px; margin: 0" alt="Isabella Bocouse" class="d-block mb-2" src="/finance/token/BTC.webp">
            </div>
            <div class="col-7 d-flex justify-content-start align-items-center mx-0 " style="margin: 0">
              <h6 class="text-white mt-3" >bitcoin (BTC)</h6>
              <button type="button" class="btn btn-warning btn-icon rounded-pill mx-2" aria-label="Rate" style="width: 21px; height: 20px">
                <i class="ai-star-filled"></i>
              </button>

            </div>

            <div class="col-2 mt-3"><h6 class="text-white">70%</h6>
            </div>



          </div>
          <div class="row">
            <div class="col-3 d-flex justify-content-end mx-0 mt-1"><img  style="width: 40px; height: 40px; margin: 0" alt="Isabella Bocouse" class="d-block mb-2" src="/finance/token/BTC.webp">
            </div>
            <div class="col-7 d-flex justify-content-start align-items-center mx-0 " style="margin: 0">
              <h6 class="text-white mt-3" >bitcoin (BTC)</h6>
              <button type="button" class="btn btn-warning btn-icon rounded-pill mx-2" aria-label="Rate" style="width: 21px; height: 20px">
                <i class="ai-star-filled"></i>
              </button>

            </div>

            <div class="col-2 mt-3"><h6 class="text-white">70%</h6>
            </div>



          </div>
        </div>



      </a>

    </div>
    <div  class="col-12 col-md-4">

      <a style="border-radius: 8px;background-color: #1b1e22"  class="card card-hover-primary  border-0 h-100 text-decoration-none">
        <div class="px-4 my-4">
          <div class="col-4 text-white">Top Gainers</div>
          <div class="row">
            <div class="col-3 d-flex justify-content-end mx-0 mt-1"><img  style="width: 40px; height: 40px; margin: 0" alt="Isabella Bocouse" class="d-block mb-2" src="/finance/token/BTC.webp">
            </div>
            <div class="col-7 d-flex justify-content-start align-items-center mx-0 " style="margin: 0">
              <h6 class="text-white mt-3" >bitcoin (BTC)</h6>
              <button type="button" class="btn btn-warning btn-icon rounded-pill mx-2" aria-label="Rate" style="width: 21px; height: 20px">
                <i class="ai-star-filled"></i>
              </button>

            </div>

            <div class="col-2 mt-3"><h6 class="text-white">70%</h6>
            </div>



          </div>
          <div class="row">
            <div class="col-3 d-flex justify-content-end mx-0 mt-1"><img  style="width: 40px; height: 40px; margin: 0" alt="Isabella Bocouse" class="d-block mb-2" src="/finance/token/BTC.webp">
            </div>
            <div class="col-7 d-flex justify-content-start align-items-center mx-0 " style="margin: 0">
              <h6 class="text-white mt-3" >bitcoin (BTC)</h6>
              <button type="button" class="btn btn-warning btn-icon rounded-pill mx-2" aria-label="Rate" style="width: 21px; height: 20px">
                <i class="ai-star-filled"></i>
              </button>

            </div>

            <div class="col-2 mt-3"><h6 class="text-white">70%</h6>
            </div>



          </div>
          <div class="row">
            <div class="col-3 d-flex justify-content-end mx-0 mt-1"><img  style="width: 40px; height: 40px; margin: 0" alt="Isabella Bocouse" class="d-block mb-2" src="/finance/token/BTC.webp">
            </div>
            <div class="col-7 d-flex justify-content-start align-items-center mx-0 " style="margin: 0">
              <h6 class="text-white mt-3" >bitcoin (BTC)</h6>
              <button type="button" class="btn btn-warning btn-icon rounded-pill mx-2" aria-label="Rate" style="width: 21px; height: 20px">
                <i class="ai-star-filled"></i>
              </button>

            </div>

            <div class="col-2 mt-3"><h6 class="text-white">70%</h6>
            </div>



          </div>
        </div>



      </a>

    </div>
    <div  class="col-12 col-md-4">

      <a *ngIf="!isLoading && !error" style="border-radius: 8px;background-color: #1b1e22"  class="card card-hover-primary  border-0 h-100 text-decoration-none">
        <div class="px-4 my-4">
          <div class="col-4 text-white">Popular</div>
          <div class="row"*ngFor="let coin of top3Crypto">
            <div class="col-3 d-flex justify-content-end mx-0 mt-1"><img  style="width: 40px; height: 40px; margin: 0" alt="Isabella Bocouse" class="d-block mb-2" [src]="coin.image">
            </div>
            <div class="col-7 d-flex justify-content-start align-items-center mx-0 " style="margin: 0">
              <h6 class="text-white" >{{ coin.id | uppercase }}</h6>
            <p class="text-white mt-1 mx-3">{{ coin.current_price | currency: 'USD' }}</p>
            </div>

            <div class="col-2 mt-3"><h6 class="text-white">70%</h6>
            </div>



          </div>

        </div>



      </a>

    </div>


  </div>


</section>

<div *ngIf="isLoading">Loading...</div>
<div *ngIf="error">{{ error }}</div>

<!-- Table for cryptocurrency data -->
<table class="table table-striped-columns">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Cryptocurrency</th>
    <th scope="col">Price</th>
    <th scope="col">Market Cap</th>
    <th scope="col">Circulating Supply</th>
    <th scope="col">Total Supply</th>
    <th scope="col">Fully Diluted Valuation</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let key of objectKeys(cryptoPrices)">
    <th scope="row">{{ cryptoPrices[key].rank }}</th>
    <td>
      <img [src]="cryptoPrices[key].imageUrl" alt="{{ key }}" width="50" height="50">
      {{ key | uppercase }}
    </td>
    <td>{{ cryptoPrices[key].price | currency: 'USD' }}</td>
    <td>{{ cryptoPrices[key].marketCap | currency: 'USD' }}</td>

    <td>{{ cryptoPrices[key].circulatingSupply | number }}</td>
    <td>{{ cryptoPrices[key].totalSupply | number }}</td>
    <td>{{ cryptoPrices[key].fullyDilutedValuation | currency: 'USD' }}</td>
  </tr>
  </tbody>
</table>

<!-- Display last updated timestamp -->
<div *ngIf="lastUpdated" class="last-updated">
  Last Updated: {{ lastUpdated }}
</div>
