<!--

<div *ngIf="isLoading">Loading...</div>
<div *ngIf="error">{{ error }}</div>

<div *ngFor="let key of objectKeys(cryptoPrices)">
  <div class="crypto-item">
    <img [src]="cryptoPrices[key].imageUrl" alt="{{ key }}" width="50" height="50">
    <div>
      <h3>{{ key | uppercase }}</h3>
      <p>Rank: {{ cryptoPrices[key].rank }}</p>
      <p>Price: {{ cryptoPrices[key].price | currency: 'USD' }}</p>
      <p>Market Cap: {{ cryptoPrices[key].marketCap | currency: 'USD' }}</p>
      <p>Circulating Supply: {{ cryptoPrices[key].circulatingSupply | number }}</p>
      <p>Total Supply: {{ cryptoPrices[key].totalSupply | number }}</p>
      <p>Fully Diluted Valuation: {{ cryptoPrices[key].fullyDilutedValuation | currency: 'USD' }}</p>
    </div>
  </div>
</div>
-->


<div *ngIf="isLoading">Loading...</div>
<div *ngIf="error">{{ error }}</div>

<!-- Table for cryptocurrency data -->
<table class="table table-striped-columns">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Cryptocurrency</th>
    <th scope="col">Price</th>
    <th scope="col">Market Cap</th>
    <th scope="col">Rank</th>
    <th scope="col">Circulating Supply</th>
    <th scope="col">Total Supply</th>
    <th scope="col">Fully Diluted Valuation</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let key of objectKeys(cryptoPrices)">
    <th scope="row">{{ cryptoPrices[key].rank }}</th>
    <td>
      <img [src]="cryptoPrices[key].imageUrl" alt="{{ key }}" width="50" height="50">
      {{ key | uppercase }}
    </td>
    <td>{{ cryptoPrices[key].price | currency: 'USD' }}</td>
    <td>{{ cryptoPrices[key].marketCap | currency: 'USD' }}</td>
    <td>{{ cryptoPrices[key].rank }}</td>
    <td>{{ cryptoPrices[key].circulatingSupply | number }}</td>
    <td>{{ cryptoPrices[key].totalSupply | number }}</td>
    <td>{{ cryptoPrices[key].fullyDilutedValuation | currency: 'USD' }}</td>
  </tr>
  </tbody>
</table>

<!-- Display last updated timestamp -->
<div *ngIf="lastUpdated" class="last-updated">
  Last Updated: {{ lastUpdated }}
</div>
