<div class="container">
  <div class="row">
    <div class="col-md-6 bg-black">
      <div class="col">
        <img style="width: 100%" class="img-fluid" src="/assets/articles/15.webp" alt="Image Description">
      </div>
    </div>
    <div class="col-md-3">
      <img style="width: 100%" class="img-fluid" src="/assets/articles/15.webp" alt="Image Description">

    </div>
    <div class="col-md-3">
      <img style="width: 100%" class="img-fluid" src="/assets/articles/15.webp" alt="Image Description">

    </div>
  </div>
</div>
